<div class="detail-wrapper">
  <h1><%= @hotel.name %></h1>
  <div class="dt-contents-wrapper"> 
  <!--dt=detail-->
    <div class="dt.image-wrapper">
      <img src="<%= @hotel.image %>" alt = "hotel_outview" width = "500" height = "500">
    </div>  
    <div class="dt-descreption-wrapper">
      <ul>
        <h3>料金プラン</h3>
        <li>5000円</li>
        <li>7000円</li> 
        <li>10000円</li>
        <h3>利用可能アメニティ</h3>
        <li>タオル</li>
        <li>ドライヤー</li>
        <li>シャンプー</li>
        <li>インターネット</li>
        <li>Wifi あり</li>
      </ul>
    </div>
    <div class="dt.map-wrapper">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21892.582354225273!2d139.74617826380737!3d35.6562201996275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8df62a573d80db6e!2z6YqA5bqn44Kw44Op44Oz44OJ44Ob44OG44Or!5e0!3m2!1sja!2sjp!4v1597374634535!5m2!1sja!2sjp" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="dt.adress-wrapper">
      
    </div>
    <div class="dt.select-wrapper">
      <h2>料金プラン選択部分</h2>
      <input type="radio" name="cost" value="5000">5000円
      <input type="radio" name="cost" value="7000">7000円
      <input type="radio" name="cost" value="10000">10000円
      <%= form_tag(choice_index_path,:method => 'get') do %>
        <%= text_field_tag :search %>
        <%= submit_tag '予約' %>
      <% end %>
    </div>
  </div>
</div>